.user-card{
    max-height: 100vh;
    max-width: 50vh;
    background-color: aqua;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 50px;
}
